@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    color: black;
    background: #fff;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    box-shadow: 0 0.1rem 0.5rem rgb(147, 217, 236);
    width: 100%;
    background: #fff;
    position: fixed;
}

.navigation .logo{
    color: rgb(13, 6, 105);
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Poppins';
}

.logo span{
    color: rgb(13, 6, 105);
    padding: 40px;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: rgb(13, 6, 105);
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
    font-family: 'Poppins';
}

.navigation ul li a:hover{
    color: #3598fc;
}

.container{
    display: flex;
    align-items: center;
}

.home{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    padding: 0 0 0 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: 'Poppins';
}

.home-text .text-h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
    color: rgb(13, 6, 105);
    font-family: 'Poppins';
}

.home-text p{
    margin-bottom: 4rem;
    font-family: 'Poppins';
}

.home-btn{
    padding: 15px 45px;
    background: rgb(13, 6, 105);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    font-family: 'Poppins';
}

.home-btn:hover{
    background: #3598fc;
}

.home-img img{
    position: absolute;
    top: 160px;
    right: 130px;
    width: 35%;
}

section{
    display: flex;
    align-items: center;

}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
    color: blue;
}
    

footer{
    display: flex;
    justify-content: center;
    color: #444;
}

@media(max-width: 1000px){
    .navigation{
        padding: 18px 2px;
    }

    .navigation .logo{
        font-size: 1.5rem;
        font-weight: 700;
    }

    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        
    }

    .home .text-h4{
        font-size: 15px;
    }

    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p{
        font-size: 15px;
    }

    .navigation ul li a{
        display: none;
    }

    .home-img img{
        width: 60%;
        position: absolute;
        top: 370px;
        right: 100px;
    }
    
    }

